
main{
  display: flex;
  align-items: center;
  padding-bottom: 200px;

}

#login{
  border: 1px solid #808080;
 min-width: 40%;
 margin: auto;
 margin-top: 10%;
text-align: center;
}

#login ul{
  width: 90%;
  height: 90%;
  list-style-type: none;
  padding: 0;
  margin: auto;
  margin-top:3%;
  margin-bottom:3%;
}

#login li{
  height:40px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  margin-top: 3%;
}

#login input{
  flex-grow: 2;
}

#login label{
  flex-grow: 1;
}

#login-sec{
  width: 100%;
  height: 90px;
}

#login-button{
  border:0;
  width: 170px;
  height: 100%;
  align-self: center;
  margin: auto;
}
