h1{
  text-align: center;
}
h2, h3{
  text-align: right;
  margin: 0px;
}
#empty{
  visibility: hidden;
}
#frame{
  border: 0.1px solid black;
  margin: auto;
  padding: 0px;
  height: 500px;
  width: 500px;
}

#frame button{
  height: 25%;
  width: 25%;
  border: 2px solid white;
  background-color: silver;
}
#status{
  margin: auto;
  height: 500px;
  width: 500px;
  width: 100%;
  height: 20%;

}

#status button{
  display: inline-block;
  height: 30px;
  width: 200px;;
}
